<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-avatar class="avatar" (click)="menuController.toggle()">
        <img alt="Silhouette of a person's head" src="assets/images/logo.jpg" />
      </ion-avatar>
    </ion-buttons>
    <ion-title>Tenant Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tenant Details</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <!--<ion-card>
      <ion-card-content>
        &lt;!&ndash; create a search input to search for owner details &ndash;&gt;
        <ion-item>
          <ion-label position="stacked">Search</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-button expand="expand" color="primary">Search</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>-->

    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-label position="stacked">Search</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ng-container *ngFor="let owner of owners | slice: 0 : 100; let i = index">
            <ion-item>
              <ion-avatar>
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-label style="margin-left: 15px;">
                <h2>{{ owner.name }}</h2>
                <p>H.no: 41{{i}}, Road no: 2{{i}}</p>
              </ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
