<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-avatar class="avatar" (click)="menuController.toggle()">
        <img alt="Silhouette of a person's head" src="assets/images/logo.jpg" />
      </ion-avatar>
    </ion-buttons>
    <ion-title>Tenant Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tenant Registration</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-card>
      <ion-card-content>
        <!-- User photo input -->
        <ion-item>
          <ion-label position="stacked">User Photo</ion-label>
          <ion-input type="file" accept="image/*"></ion-input>
        </ion-item>
        <!-- Generate Tenant registration form container first name, last name, surname, phone, email and etc... -->
        <ion-item>
          <ion-label position="stacked">First Name</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Last Name</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Surname</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Phone</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <!-- generate personal email -->
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Permanent Address</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <!--sale deed attachments and house photo attachment inputs-->
        <ion-item>
          <ion-label position="stacked">Rental Agreement Attachment</ion-label>
          <ion-input type="file" accept="image/*"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Aadhar Attachment</ion-label>
          <ion-input type="file" accept="image/*"></ion-input>
        </ion-item>
        <!-- register button -->
        <ion-item>
          <ion-button expand="expand" color="primary">Register</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
